__pycache__/

# Fabric

# Hyperledger Fabric deployment-specific files

fabric/dwarna-blockchain/*.card
fabric/.nvm

# Backups

fabric/fabric-scripts/hlfv12/composer/backup*

# REST API

rest/tests/cards
rest/config/db.py

# WordPress

biobank-plugin/includes/globals.php

# Documentation

rest/documentation/build
