/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

@media only screen and (min-width: 1024px) {

    form[id^=consent-form] {
    	display: inline-block;
    	width: 61.2%;
    }

    #biobank-consent-trail {
    	float: right;
    	width: 38.2%;
    }

    #biobank-consent-trail .biobank-wrapper {
    	height: 61.8vh;
    	overflow: auto;
    	width: 100%;
    }

}

@media only screen and (max-width: 1023px) {

    #biobank-consent-trail {
		max-height: 30vh;
	}

}

.biobank-consent .biobank-description {
    margin-bottom: 0.5em;
}

.biobank-consent .biobank-homepage {
    font-style: italic;
}

.biobank-form h4 {
    font-family: "Noto Sans", sans-serif;
}

.biobank-form input[type="submit"]:hover {
	background-color: white;
    border-color: #29bacc !important;
	color: #29bacc !important;
}

.biobank-form input[type="submit"]:active,
.biobank-form input[type="submit"]:focus,
.biobank-form input[type="submit"] {
    background: #29bacc;
    border-color: #29bacc;
    border-radius: 10px;
    border-style: solid;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-style: normal;
    font-weight: 600;
    font-family: "Source Sans Pro",sans-serif;
    font-size: 18px;
    line-height: 1.7em;
    margin: 30px 0 0 0;
    min-width: 145px;
    max-width: 230px;
    outline: 0;
    overflow: hidden;
    padding: 9px 35px;
    position: relative;
    text-align: center;
    -webkit-transition: color .2s ease-out,background-color .2s ease-out,border-color .2s ease-out,background-position .3s ease,opacity .2s ease-out;
    -moz-transition: color .2s ease-out,background-color .2s ease-out,border-color .2s ease-out,background-position .3s ease,opacity .2s ease-out;
    transition: color .2s ease-out,background-color .2s ease-out,border-color .2s ease-out,background-position .3s ease,opacity .2s ease-out;
    vertical-align: middle;
    width: 250px;
}

.biobank-form table,
.biobank-form table td,
.biobank-form table th {
    border: none;
}

.biobank-form table th {
    text-align: right;
    width: 35%;
}

.biobank-form .error {
	color: #B2000D;
}

.biobank-homepage {
	font-size: 0.7em;
	font-weight: bold;
	text-transform: uppercase;
}

.biobank-alert {
	background-color: #29bacc !important;
	border-radius: 10px;
	color: white;
    font-weight: 600;
	margin: 2rem 0;
	padding: 2rem;
	text-align: center;
}

.biobank-alert::selection {
	background-color: white;
	color: #29bacc !important;
}

.biobank-hidden {
	display: none !important;
}

#biobank-consent-trail {
}

#biobank-consent-trail .biobank-table {
	display: table;
	width: 100%;
}

#biobank-consent-trail .biobank-node {
	display: table-row;
	width: 100%;
}

#biobank-consent-trail .biobank-node .biobank-datetime {
	display: table-cell;
	padding: 0.75em 0;
	position: relative;
	text-align: center;
}

#biobank-consent-trail .biobank-node .biobank-datetime:before {
	content: '';
	border-left: 1px solid #999;
	display: block;
	height: 100%;
	left: 50%;
	opacity: 0.6;
	position: absolute;
	top: 0;
	z-index: -1;
}

#biobank-consent-trail .biobank-node .biobank-date,
#biobank-consent-trail .biobank-node .biobank-time {
	background-color: white;
}

#biobank-consent-trail .biobank-node .biobank-date {
	font-size: 0.7em;
	font-weight: 600;
	line-height: 1.15;
	padding-top: 0.5em;
	text-transform: uppercase;
}

#biobank-consent-trail .biobank-node .biobank-time {
	font-size: 0.75em;
	font-weight: 400;
	line-height: 1;
	padding-bottom: 0.5em;
}

#biobank-consent-trail .biobank-node .biobank-consent-change {
	display: table-cell;
	font-size: 0.85em;
	position: relative;
	text-align: right;
	vertical-align: middle;
}

#biobank-consent-trail .biobank-node .biobank-consent-change::before {
	content: '';
	border-bottom: 1px solid #999;
	display: block;
	height: 50%;
	opacity: 0.6;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}

#biobank-consent-trail .biobank-node .biobank-consent-change span {
	background-color: white;
	padding: 0 0.5em;
}

#biobank-quiz {
	display: none;
}

#biobank-quiz .biobank-question .biobank-quiz-question-explanation {
	display: none;
}

#biobank-quiz .biobank-question.incorrect .biobank-quiz-question-explanation {
	display: initial;
}

/*
 * Forms
 */

.biobank-form input[type="text"], .biobank-form input[type="password"],
.biobank-form input[type="email"], .biobank-form input[type="url"],
.biobank-form input[type="date"], .biobank-form input[type="month"],
.biobank-form input[type="time"], .biobank-form input[type="datetime"],
.biobank-form input[type="datetime-local"], .biobank-form input[type="week"],
.biobank-form input[type="number"], .biobank-form input[type="search"],
.biobank-form input[type="tel"], .biobank-form input[type="color"],
.biobank-form textarea {
	margin-bottom: 2em;
}

.checkbox-container,
.radio-container {
	cursor: pointer;
	display: block;
	margin-bottom: 12px;
	padding-left: 35px;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.checkbox-container input,
.radio-container input {
	cursor: pointer;
	height: 0;
	opacity: 0;
	position: absolute;
	width: 0;
}

.checkbox,
.radio {
	background-color: white;
	box-sizing: border-box;
	border: 3px solid #29bacc;
	height: 25px;
	left: 0;
	position: absolute;
	transition: background-color 0.2s ease-in;
	top: 0;
	width: 25px;
}

.radio {
	border-radius: 50%;
}

.checkbox-container:hover input ~ .checkbox,
.radio-container:hover input ~ .radio {
	background-color: #29bacc !important;
}

.radio-container:hover input:checked ~ .radio {
	background-color: inherit;
}

.checkbox-container input:checked ~ .checkbox {
	background-color: #29bacc !important;
}

.radio-container input:checked ~ .radio {
	border-width: 7.5px;
}

.checkbox:after {
	border: solid white;
    border-width: 0 3px 3px 0;
	color: white;
	content: "";
	display: none;
	font-weight: 900;
	height: 9px;
	left: 5px;
	position: absolute;
	top: 2px;
	-webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
	width: 5px;
}

.checkbox-container input:checked ~ .checkbox:after,
.radio-container input:checked ~ .radio:after {
	display: block;
}
