/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.biobank-consent .biobank-description {
    margin-bottom: 0.5em;
}

.biobank-consent .biobank-homepage {
    font-style: italic;
}

.biobank-form h4 {
    font-family: "Noto Sans", sans-serif;
}

.biobank-form input[type="submit"] {
    display: block;
    margin: 0 auto;
}

.biobank-form table,
.biobank-form table td,
.biobank-form table th {
    border: none;
}

.biobank-form table th {
    text-align: right;
    width: 35%;
}

.biobank-form .error {
	color: #B2000D;
}

.biobank-alert {
	background-color: #cd2653;
	color: white;
	font-weight: 400;
	padding: 2rem;
}

#biobank-consent-trail {
	max-height: 30vh;
	overflow: auto;
}

#biobank-quiz {
	display: none;
}

#biobank-quiz .biobank-question .biobank-quiz-question-explanation {
	display: none;
}

#biobank-quiz .biobank-question.incorrect .biobank-quiz-question-explanation {
	display: initial;
}

/*
 * Forms
 */

.checkbox-container,
.radio-container {
	cursor: pointer;
	display: block;
	font-size: 22px;
	margin-bottom: 12px;
	padding-left: 35px;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.checkbox-container input,
.radio-container input {
	cursor: pointer;
	height: 0;
	opacity: 0;
	position: absolute;
	width: 0;
}

.checkbox,
.radio {
	background-color: white;
	border: 3px solid #cd2653;
	height: 25px;
	left: 0;
	position: absolute;
	transition: background-color 0.2s ease-in;
	top: 0;
	width: 25px;
}

.radio {
	border-radius: 50%;
}

.checkbox-container:hover input ~ .checkbox,
.radio-container:hover input ~ .radio {
	background-color: #cd2653;
}

.radio-container:hover input:checked ~ .radio {
	background-color: inherit;
}

.checkbox-container input:checked ~ .checkbox {
	background-color: #cd2653;
}

.radio-container input:checked ~ .radio {
	border-width: 7.5px;
}

.checkbox:after {
	color: white;
	content: "✓";
	display: none;
	font-weight: 900;
	font-size: 0.75em;
	margin-top: -2px;
	text-align: center;
}

.checkbox-container input:checked ~ .checkbox:after,
.radio-container input:checked ~ .radio:after {
	display: block;
}
